<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="Contenu/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="Contenu/favicon.ico">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #001D6E">
        <div class="container">
            <a class="navbar-brand" href="index.php"><img src="Contenu/favicon.ico" style="width: 30px; height: 27px;"></img>&nbsp;&nbsp;Site de Convocations Sportives </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if role != 'V' %}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-1">
                        <a class="nav-link {% block isAccueil %}{% endblock %}" href="index.php?action=menuCompte"><i class="fa fa-home"></i>&nbsp;&nbsp;Accueil</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link {% block isMatch %}{% endblock %}"  href="index.php?action=match"><i class="fa fa-handshake"></i>&nbsp;&nbsp;Matchs</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link {% block isConvocation %}{% endblock %}" href="index.php?action=convocation"><i class="fa fa-clipboard-list"></i>&nbsp;&nbsp;Convocations</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link {% block isAbsence %}{% endblock %}" href="index.php?action=absence"><i class="fas fa-id-card-alt"></i>&nbsp;&nbsp;Absences</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link {% block isAnnexe %}{% endblock %}" href="index.php?action=annexe"><i class="fas fa-wrench"></i>&nbsp;&nbsp;Annexe</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <div class="navbar-nav ms-lg-auto mx-sm-5">
                {% if role == 'V' %}
                    <a href="index.php?action=afficherConnexion" class="nav-item nav-link {% block isConnexion %}{% endblock %}" onmouseenter="changeIcon(this,false)" onmouseleave="changeIcon(this,true)"><i class="fa fa-lock"></i>&nbsp;&nbsp;Se connecter</a>
                {% else %}
                    <a href="index.php?action=deconnexion" class="nav-item nav-link" onmouseenter="changeIcon(this,false)" onmouseleave="changeIcon(this,true)"><i class="fa fa-door-closed"></i>&nbsp;&nbsp;Se déconnecter</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        {% block contenu %}{% endblock %}
    </div>

    <footer class="mt-5 pt-5 text-black-50 text-center bottom-0">Site de gestion de convocations sportives réalisé avec PHP, HTML5 et CSS.</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="JS/changementIcone.js"></script>

</body>
</html>