{% extends "gabarit.twig" %}

{% block title %}
    Convocations sportives - Erreur
{% endblock %}

{% block contenu %}

{############# ERREUR #############}
<div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
    <strong>ERREUR :</strong> <br>
    Une erreur est survenue
    <br>
    {{ msgErreur }}
</div>


{% endblock %}