{% extends "gabarit.twig" %}

{% block title %}
    Convocations sportives - Erreur
{% endblock %}

{% block contenu %}
<div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
    <strong>ERREUR :</strong> {{ msgErreur }}
</div>
{% endblock %}